# Laravel base
/vendor/
/node_modules/
/public/build/
/.env
.phpunit.result.cache
/storage/
bootstrap/cache/

# Ignorar HTML y assets generados
/public/html/
/public/images/players/
/public/images/

# Ignorar SQLite si usas base de datos local
/database/*.sqlite
