.Atlanta.Hawks{
    background-color: #E00025;
}
    
.Boston.Celtics{
    background-color: #007A30;
}

.Brooklyn.Nets, .Portland.Trail.Blazers, .San.Antonio.Spurs{
    background-color: #000000;
}

.Charlotte.Hornets{
    background-color: #047284;
}

.Chicago.Bulls{
    background-color: #BC022C;
}

.Cleveland.Cavaliers{
    background-color: #6C263C;
}

.Dallas.Mavericks, .Memphis.Grizzlies{
    background-color: #0466B4;
}

.Denver.Nuggets{
    background-color: #0C223C;
}

.Detroit.Pistons, .Golden.State.Warriors{
    background-color: #0446AC;
}

.Houston.Rockets{
    background-color: #D41244;
}  

.Indiana.Pacers{
    background-color: #042E64;
}  

.Angeles.Clippers{
    background-color: #D40A3C;
}  

.Angeles.Lakers{
    background-color: #542E84;
}  

.Miami.Heat{
    background-color: #94022C;
}  

.Milwaukee.Bucks{
    background-color: #244E34;
}  

.Minnesota.Timberwolves{
    background-color: #044E84;
}  

.New.Orleans.Pelicans{
    background-color: #041E3C;
}  

.New.York.Knicks{
    background-color: #F4822C;
}  

.Oklahoma.City.Thunder, .Utah.Jazz, .Washington.Wizards{
    background-color: #042244;
}  

.Orlando.Magic{
    background-color: #0472BC;
}  

.Philadelphia.ers{
    background-color: #043EA4;
}  

.Phoenix.Suns{
    background-color: #1C125E;
}  

.Sacramento.Kings{
    background-color: #4C2A7C;
} 

.Toronto.Raptors{
    background-color: #D3002D;
} 